

// $Mobile: 700px;
// $MobileW: 90vw;
// $Tablet: 900px;
// $MobileW: 80vw;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}



body {
	margin:0;
	padding: 0;
	background: black;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	nav {
		display:flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		// background: white;
		width: 70%;
		height: 40px;
		margin-top: 15px;
		img {

			height: 90%;
			width: 40px;
			transition: all .2s ease;
		}
		.links {
			// background: red;
			height: 90%;
			width: calc(30px*4 + 10px*3);
			display:flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			a img:hover {
				transform: scale(0.9);
			}
			
		}
	}
	.mainSection {
		width: 70%;
		height: 10vh;
		background: #019283;
		margin: 20px;
		display:flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		
		div {
			h2 {

			}
		    p {

		 }
	    }
	}
}



@media only screen and (max-width: 900px) {
	.mainSection {
	background: red;
	}
}