
@import "animations.scss";
$Mobile: 700px;
$MobileW: 90vw;
$Tablet: 900px;
$tabletW: 80vw;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	transition: all .8s linear;
}

body {
	margin: 0 auto;
	padding: 1px;
	background: black;
	width: 95vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	nav {
		display:flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		// background: white;
		width: 55%;
		height: 40px;
		margin-top: 15px;
		@media screen and (max-width: $Mobile) {
			width: $MobileW;
		}
		
		@media screen and (max-width: $Tablet) {
			width: $tabletW;
		}

		
		img {

			height: 90%;
			width: 40px;
			transition: all .2s ease;
			animation-origin: right;
			animation: Showup .6s linear;
		}
		#plink {
			background: white;
			color: black;
			text-decoration: none;
			padding: 10px 20px;
			border-radius: 3px;
			font-weight: 700;
			transition: all .2s ease;
			animation-origin: left;
			
			animation: Showup .6s linear;	
			&:hover {
				background: rgb(0, 255, 200);
				color: white;
			}
		}
		.links {
			// background: red;
			height: 90%;
			width: calc(30px*3 + 10px*2);
			display:flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			
			a img:hover, #Gmail img:hover {
				transform: scale(0.9);
			}
			
		}
	}
	#mainSection {
		width: 55%;
		padding: 30px 0;
		background-color: none;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		color: white;
		
		div {
			padding: 40px 0;
			h2 {
			.date {
				color: #A79C9C;
				font-size: .5em;
			}
			}

			p {
			   width: 100%;
			   padding: 10px 0;
			}
			.button {
				color: black;
				background:white;
				padding: 10px;
				border-radius: 10px;
				text-decoration: none;
				font-weight: 900;
				font-size: 1em;
				border: 1px solid black;
				transition: all 0.3s ease;
				margin-top: 40px;
				&:hover {
					border-color: white;
					background: black;
					color: white;
			}
			}

		}
		
		@media screen and (max-width: $Mobile) {
			width: $MobileW;
		}
		@media screen and (max-width: $Tablet) {
			width: $tabletW;
		}
		
	}
}


// Loader scss

 * {
 	box-sizing: border-box;
 }


#loading {
 	margin:  0;
 	padding:  0;
 	position: absolute;
 	top:  0;
 	left: 0;
 	z-index: 10000;
 	height: 100vh;
 	width:  100vw;
 	display:  flex;
 	justify-content: center;
 	align-items: center;
 	background: black;
 	flex-direction: column;
 }
.container {
 	width: 50vw;
 	height: 150px;
 	padding: 10px;
	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	/* background: white; */
 	flex-direction: column;

}
.container h2 {
	color:  white;
	font-family: "Myriad Pro", sans-serif;
	font-weight: 300;
	text-align: center;
	transition: color 0.5s ease;
}
#loading .container img {
	width:  40px;
}
.load {
 	width: 300px;
    height: 3px;
 	background-color: #191919;
 	border-radius:  1px;
 	position: relative;
}
.load::before {
	content: "";
	width:  0%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    transition: height, width 1s ease;
    animation: loading 4s ease infinite;
}


@media screen and (max-width: 789px) {
	body .load {
 		width: 50vw;
 	}
}



