@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
	box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all .5s linear; 
}

*::selection {
	background: white;
	color: black;
}
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  transition: all 1s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 0, 0);
}



p {
  font-size: 1.1em;
}
h3 {
 font-size: 1.2em; 
}
body {
  font-weight: 550;
  margin: 0 auto;
  padding: 1px;
  background: black;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; 
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
}



body #FilterBTT {
  position: fixed;
  top: 100px;
  transition: all .2s ease;
  left: 0;
  border: none;
  outline: none;
  color:  White;
  width:  100px;
  padding: 10px;
  transform:  translateX(-80px);
  border-radius: 0 10px 10px 0;
  background: rgb(173, 19, 19);
  opacity: .5;
  cursor:  pointer;
  font-weight: 600;
}

#FilterBTT.active {
  animation: dance 1s ease;
}

body #Filter:hover {
  opacity: 1;
  transform:  translateX(-10px);
}

body nav {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
width: 55%;
height: 40px;
margin-top: 15px; }

body nav img {
  cursor: pointer;
  height: 90%;
  width: 40px;
  transition: all .2s ease;
  animation-origin: right;
  animation: Showup .6s linear; 
}
body nav #plink, .backHome {
  background: white;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: 700;
  transition: all .2s ease;
  animation-origin: left;
  animation: Showup .6s linear; 
  
}
body nav #plink:hover, .backHome:hover {
    background: #00ffc8;
    color: white;
}
body nav .links {
  height: 90%;
  width: calc(30px*3 + 10px*2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-direction: row; 
}
  body nav .links a img:hover, body nav .links #Gmail img:hover {
    transform: scale(0.9); 
} 


#loading {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  flex-direction: column; }

.container {
  width: 50vw;
  height: 150px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: white; */
  flex-direction: column; }

.container h2 {
  color: white;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  transition: color 0.5s ease; 
}

#loading .container img {
  width: 40px; 
}


.load {
  width: 300px;
  height: 3px;
  background-color: #191919;
  border-radius: 1px;
  position: relative; }

.load::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  transition: height, width 1s ease;
  animation: loading 4s ease infinite; }

@media screen and (max-width: 789px) {
  body .load {
    width: 50vw; } }





body h2 {
width: 55%;
margin-top: 50px;
/* border: 1px solid white; */
}


.tableOfContent  { 
	/* list-style: none; */
	width: 55%;
	padding: 0;
  margin-left: 5px;
 
}
.tableOfContent li {
  cursor: pointer;
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid white;

}

.tableOfContent li a { 
	color: white;
	text-decoration: none;
}
.tableOfContent li a:hover {
	color: rgb(255, 255, 100);
}

table {
  width: 100%;
  display: table;
  margin: 10px 0;
  /* border: 1px solid white; */
  padding:  10px;
  overflow-x: scroll;
}


table tbody tr:nth-child(1) td {
  border-bottom: 1px solid rgb(19, 19, 19);
}

.functions {
  color: #3275a8;
}
.green {
  color: lightgreen;
}
.Pythonword {
  color: #cc5125;
}
.comment {
 color: #7a8760; 
}
.keywords {
  color: cyan;
  display: inline;
}
.code {
  width: 100%;
  /* overflow-x: scroll; */
  background: #191919;
  font-family: "Myriad Pro",sans-serif;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 0;
}

.console {
  background: #040f13;
}

.def {
  border: 1px solid white;
}
.code .comment {
  display: block;
  font-family: "Myriad Pro",sans-serif;
  font-weight: 400;
  margin: 5px 0;
}
.code span {
  font-family: "Myriad Pro",sans-serif;
  font-weight: 400; 
}
.code span.line {
  display: block;
  margin: 10px 0;
}

.download {
  text-decoration: none;
  background-color: white;
  padding: 5px;
  border-radius:  7px;
  margin:  10px 0;
  color: black;
  border: 1px solid white;
}
.download:hover {
  background-color: black;
  color: white;
}

.win {
  width: 55%;
  border-radius: 10px;
  margin:  20px auto;
}
.Content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	width: 55%;
	/* background: #0B0808; */
	/* padding: 4px 10px; */
	border-radius: 10px;
}


footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 55%;
	padding: 10px;
	margin: 10px;
	/* background: #0B0808; */
	/* padding: 4px 10px; */
	border-radius: 10px;	
}
td {
    display: table-cell;
    vertical-align: inherit;
}
@media screen and (max-width: 700px) {
  body nav, footer, body h2, .Content, .tableOfContent, table, .code, .win  {
    width: 90vw; 
}

}
@media screen and (max-width: 900px) {
  body nav, footer, body h2, .Content, .tableOfContent, table, .code, .win  {
    width: 80vw; 
}
}

/* animations */

@keyframes loading {
  0% {
    width: 0%; }
  10% {
    background: blue; }
  25% {
    width: 25%;
    background: blue; }
  50% {
    width: 60%;
    background: white; }
  75% {
    width: 60%;
    background: white; }
  90% {
    width: 90%; }
  100% {
    background: white;
    width: 100%; } }
@keyframes Showup {
  0% {
    transform: translate(100);
    opacity: 0; }
  100% {
    opacity: 1; } 
  }

